// Write your styles here
@mixin _btn{
   margin-top: 26px;
   font-size: 17px;
   width: 147px;
   height: 50px;
   font-family: 'Source	Sans	Pro',	sans-serif;
   background-color:$color;
   border-color:$color;
   color: white;
}
body{
   background:$backgroundColo;
}
.header {
   background-image: $day-night-img; 
   background-size:cover;
   background-position: center;
   height:800px;
   border-radius: 0 0 39%;
   background-repeat: no-repeat;
   color: $primery-color;
   &-wrap{
      margin-left: 10vw;
      padding-top: 15px;
   }
  &_heading{
   display: block;
   width: 600px;
   font-size: 5rem;
   font-family: 'Source	Sans	Pro',	sans-serif;
}
   &_text{
      display:block;
      line-height: 25px;
      width: 600px;
      font-size: 17px;
      letter-spacing: 00.01rem;
   }
      &_button{
         margin-top: 26px;
         font-size: 17px;
         width: 147px;
         height: 50px;
         font-family: 'Source	Sans	Pro',	sans-serif;
         background-color:$color;
         border-color:$color;
         color: white;
      }
   }
.header_heading::after{
   position: absolute;
   content:"awesome";
   background:$colo;
   height: 80px;
   left: 200px;
}
  .landing-logo {
   display: flex;
   width: 50px;
   height: 50px;
   & p{
   display: block;
   text-align: center;
   font-size: 25px;
   margin-top: 5px;
   }
   & span{
    display: block;
    text-align: center;
    font-size: 12px;
    width: 100px; 
   }
} 
.login{
   color: white;
   font-size: 20px;
   text-decoration: underline;
   margin-left: 152px;
   letter-spacing: 0.01rem;
}
.section{
   background-color: $backgroundColo;
   font-family: $font-family;
   text-align: center;
   &_text{
      font-size: 2.5rem;
      margin-bottom: 40px;
      font-weight: 700;
      letter-spacing: 0.015em;
      font-family: 'Source	Sans	Pro',	sans-serif;
      color: $primery-color;
   }
   &_card{
      width: 1150px;
   padding: 20px;
   border-radius: 4px;
   margin: auto;
   display: flex;
   align-items: center;
   background-color:$backgroundtext;
   color:#ffffff;
   }
}
.section_text::after{
   position: absolute;
   content: 'adventure';
   background:$colo;
   height: 40px;
   left: 965px;
}
.section_card:not(:last-of-type){
   margin-bottom: 25px;
}
.section_card_img{
   border-radius: 4px;
   margin-right: 85px;
   &:first-of-type{
   max-height: 295px;
   max-width: 440px;
   }
   &:nth-of-type(2){
   padding-top: 70px;
   }
   &:last-of-type{
   height: 350px;
   }
}
.section_link{
   color: #ffffff;
}
p.section_card_heading{
   font-size: 22px;
   letter-spacing: 2px;
}
.footer{
   background-color: $backgroundtext;
   margin-top: 200px;
   color: #fffffffb;
   height: 300px;
   padding: 125px 50px 0 100px;
   &-wrap{
   display:flex;
   justify-content: space-between;
   padding: 125px 116px 0 116px;
   align-items: center;
   margin-top: 60px;
   }
}
.section_banner{
   background: $gradient;
   border-radius: 6px;
   display: flex;
   align-items: center;
   width: 920px;
   margin: auto;
   height: 142px;
   padding: 0 152px;
   position: absolute;
   transform: translateX(27%) translateY(100%);
   &_button{
   @include _btn;
   margin-left: auto;
   }
   &_heading{
   font-size: 30px;
   }
}
.section_banner_heading::after{
   position: absolute;
   content:"start";
   background:$colo;
   height: 40px;
   left: 266px;
}
.section_banner_text{
   padding: 20px;
   color: #ffffff;
}








