$day-night-img: url("../img/m-h-day.jpg");
$colo: #1f89e0;
$color:#6ce01f;
$primery-color:#000000;
$backgroundColo:#ffffff;
$backgroundtext:#1a1919;
$gradient:linear-gradient(90deg, #6ee004 0%, #2b29af 100%);
$font-family: font-family( 'Hind', sans-serif);