$day-night-img: url("../img/m-h-night.jpg");
$colo: #f06e17;
$color:#e6b413;
$primery-color:#f1efef;
$backgroundColo:#242121;
$backgroundtext:#4a4f4a;
$gradient:linear-gradient(90deg, #d8a038 0%, #80113f 100%);
$font-family: font-family( 'Fresca',sans-serif);

