
body {
  font-family: 'Montserrat', sans-serif;
}
.conteiner{
  max-width:1280px;
  display: block;
  margin: 0 auto;
}
.nav{
  display: flex;
}
.nav img{
  padding-left: 100px;
  height: 40px;
}
.menu {
  display: flex;
  margin-left: auto;
}
.menu li{
  list-style-type: none;
  margin-right: 40px;
}
.menu li a:hover{
  color: #14a0d8;
}
.menu li a{
  text-decoration: none;
  color: #080807;
  text-transform: uppercase;
  font-size: 12px;
}
.health{
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../img/header_bg.jpg');
}
.SVG{
  position: fixed;
  padding-left: 1220px;
  padding-top: 30px;
}
.link img:hover{
  background-color: #521313;
}
.link img{
  background-color: #e28915;
  padding: 7px 7px 7px 7px;
  border-radius: 50%;
  filter: invert(1);
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
.health_text{
  padding-left: 100px;
  padding-top: 150px;
  display: block;
  max-width: 40%;
}
.health_text p{
  max-width: 423px;
  color: #5c5b5b;
}
.clinic{
  display: flex;
  margin-top: 60px;
}
.clinic_text h1{
  font-size: 30px;
}
.clinic_text span{
  font-size: 15px;
  color: #056eaa;
}
.clinic_text h2{
  font-size: 15px;
}
.clinic_text{
  display: block;
  padding-top: 50px;
  max-width: 380px;
}
.clinic_text p{
  font-size: 13px;
}
.first-main{
  display: flex;
}
.main_header{
  padding-top: 50px;
  text-align: center;
  margin-top: 30px;
  background-image: url('../img/services_bg.jpg');
}
.main_header h1{
  line-height: 0.2;
}
.main_header span{
 font-size: 12px;
 line-height: 0.2;
}
.main_content{
  display: inline-block;
  max-width: 400px;
  max-height: none;
  background-color: #ffffff;
  margin-left :20px;
  text-align: left;
}
.nav_1,
.nav_2{
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  max-width: 1000px;
  padding: 5px 70px 5px 70px;
}
.nav_2{
  padding-bottom: 50px;
}
.nav_2 p{
  font-size: 12px;
  padding-left: 15px;
  padding-bottom: 20px;
}
.nav_1 p{
  font-size: 12px;
  padding-left: 15px;
  padding-bottom: 20px;
}
.nav_2 h2{
  font-size: 15px;
  padding-left: 15px;
}
.nav_1 h2{
  font-size: 15px;
  padding-left: 15px;
}
.nav_2 img{
  padding-left: 15px;
  padding-top: 10px;
}
.nav_1 img{
  padding-left: 15px;
  padding-top: 10px;
}
.main_contant{
  display: flex;
  background-size:cover;
  background-image: url('../img/pricing_bg.jpg');
  text-align: center;
  margin-top: -50px;
  padding-bottom: 100px;
}
.second-main{
  padding-top: 20px;
}
.second-main-header span{
  font-size: 12px;
}
.second-main-header{
  text-align: center;
  line-height: 0.5;
}
.main_information{
  display: block;
  margin-top: 150px;
  margin-left: 130px;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
 
}
.main_information_2{
  display: block;
  position: relative;
  top: 125px;
  color: #176b9c;
  max-height: 460px;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
  border: solid 2px;
  border-color:#14a0d8;
}
.main_information_3{
  display: block;
  margin-top: 150px;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
}
.main_information p{
 font-size: 14px;
 line-height: 2;
}
.main_information_2 p{
 font-size: 14px;
 line-height: 2;
}
.main_information_3 p{
  font-size: 14px;
  line-height: 2;
 }
 .main_information span{
   font-size: 45px;
 }
 .main_information_2 span{
  font-size: 45px;
}
.main_information_3 span{
  font-size: 45px;
}
.main_information a{
  font-size: 45px;
  line-height:0.3;
}
.main_information_2 a{
 font-size: 45px;
 line-height: 0.3;
}
.main_information_3 a{
 font-size: 45px;
}
.main_btn{
  color:#176b9c;
  background-color: #ffffff;
  border: solid 2px;
  border-color:#2d51ee;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}
.footer_content{
  display: flex;
}
.footer-img{
  margin-left: -200px;
}
.footer_text{
  margin-top: 150px;
  margin-left: 20px;
  display: block;
}
.footer_text h3{
  font-size: 30px;
  line-height: 0.2;
}
.footer_text span{
  font-size:15px;
}
.footer_text input{
  height: 35px;
  width: 465px;
  border: none;
  outline: none;
  border-bottom: solid 2px;
  border-bottom-color: #a7a7a7 ;
}
.btn input{
  border: solid 2px;
  border-radius: 10px;
  width: 100px;
  color: #ffffff;
  background-color: #2166b4;
}
.style{
  display: block;
  margin-top: 20px;
}
.footer_footer{
  padding-top: 25px;
  text-align: center;
  background-color: #646262;
  color: #f7f7f7;
  height: 50px;
}
 @media (max-width: 1000px){
  .conteiner{
    max-width:900px;
    display: block;
    margin: 0 auto;
  }
  .nav img{
    padding-left: 15px;
    height: 30px;
  }
  .menu li a{
    font-size:8px;
  }
  .health_text{
    padding-left: 50px;
    padding-top: 150px;
    display: block;
  }
  .menu li{
    list-style-type: none;
    margin-right: 20px;
  }
  .health{
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: url('../img/header_bg.jpg');
  }
  .clinic img{
    max-height: 400px;
    max-width: 500px;
  }
  .clinic{
    margin-top: 5px;
  }
  .clinic_text h1{
    font-size: 20px;
  }
  .clinic_text span{
    font-size: 12px;
    color: #056eaa;
  }
  .clinic_text h2{
    font-size: 13px;
  }
  .clinic_text{
    display: block;
    padding-top: 15px;
    max-width: 300px;
  }
  .clinic_text p{
    font-size: 12px;
  }
  .care{
    padding-bottom: 40px;
  }
  .nav_1,
  .nav_2{
  display: flex;
  margin-left: -20px;
  margin-top: 20px;
  padding: 5px 20px 40px 20px;
}
.second-main-header span{
  font-size: 10px;
}
.second-main-header{
  text-align: center;
  line-height: 0.5;
}
.main_information{
  display: block;
  margin-top: 150px;
  margin-left: 110px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
}
.main_information_2{
  display: block;
  position: relative;
  top: 125px;
  color: #176b9c;
  max-height: 450px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
  border: solid 2px;
  border-color:#14a0d8;
}
.main_information_3{
  display: block;
  margin-top: 150px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
}
.footer-img img{
  max-width: 700px;
  height: 600px;
}
.footer-img{
  display: none;
}
.footer_content{
  background-image: url(../img/contact_image.jpg);
  background-size: cover;
}
.footer_text{
  margin-top: 60px;
  margin-left: 420px;
  padding-bottom: 30px;
}
.footer_text input{
  height: 35px;
  max-width: 310px;
  border: none;
  outline: none;
  border-bottom: solid 2px;
  border-bottom-color: #a7a7a7 ;
}
.btn input{
  border: solid 2px;
  border-radius: 10px;
  height: 40px;
  max-width: 80px;
  color: #ffffff;
  background-color: #2166b4;
}
.footer_text h3{
  font-size: 30px;
  line-height: 2;
}
}
@media (max-width: 760px){
  .conteiner{
    max-width:900px;
    display: block;
    margin: 0 auto;
  }
  .health_text{
    text-align: center;
    padding-top: 20px;
    margin-left: 50px;
  }
  .link{
    display: flex;
    margin-left: -60px;
    padding-bottom: 20px;
  }
  .clinic{
    display: block;
    margin-top: 50px;
  }
  .clinic_text{
    text-align: center;
    margin-left: 20px;
  }
  .clinic img{
    padding-top: 30px;
    padding-left: 50px;
    width: 270px;
  }
  .link img{
    background-color: #e28915;
    padding: 7px 7px 7px 7px;
    border-radius: 50%;
    filter: invert(1);
    margin-left: 40px;
    width: 20px;
    height: 20px;
  }
  .main_header{
    padding-top: 10px;
    text-align: center;
    margin-top: 4px;
    background-image: url('../img/services_bg.jpg');
  }
  .main_header h1{
    line-height: 1;
    font-size:15px;
  }
  .main_header span{
   font-size: 10px;
   line-height: 0.2;
  }
  .nav_1,
.nav_2{
  display: block;
  margin-top: 20px;
  max-width: 1000px;
  padding: 5px 70px 5px 70px;
}
.main_content{
  margin-top: 20px;
}
.nav_2{
  padding-bottom: 50px;
}
.nav_2 p{
  font-size: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.nav_1 p{
  font-size: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.nav_2 h2{
  font-size: 12px;
  padding-left: 15px;
}
.nav_1 h2{
  font-size: 12px;
  padding-left: 15px;
}
.nav_2 img{
  padding-left: 15px;
  padding-top: 5px;
}
.nav_1 img{
  padding-left: 15px;
  padding-top: 5px;
}
.main_contant{
  display: block;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 100px;
  background-image: none;
}
.main_information{
  display: block;
  max-width: 200px;
  margin-top: 10px;
  margin-left: 55px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
}
.main_information_2{
  display: block;
  margin-left: 55px;
  max-width: 200px;
  margin-top: -120px;
  color: #176b9c;
  max-height: 450px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 45px;
  background-color: #ffffff;
  border: solid 2px;
  border-color:#14a0d8;
}
.main_information_3{
  display: block;
  max-width: 200px;
  margin-top: 130px;
  margin-left: 55px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #14a0d8;
  color: #ffffff;
}
.footer_content{
  background-image: url(../img/contact_image.jpg);
  background-size: cover;
}
.footer_text input{
  height: 20px;
  max-width: 310px;
  border: none;
  outline: none;
  border-bottom: solid 1px;
  border-bottom-color: #a7a7a7 ;
}
.btn input{
  border: solid 1px;
  border-radius: 10px;
  margin-left: 100px;
  height: 40px;
  max-width: 80px;
  color: #ffffff;
  background-color: #2166b4;
}
.footer_text{
  margin-top: 60px;
  margin-left: 20px;
  padding-bottom: 30px;
}
}
  