.mr-auto{
    margin-left: 30%;
}

.btn-outline-success{
    background-color: #525252;
    color: #ffffff;
}
.btn{
    border: none;
    border-radius: 0%;
}
.header-content{
    margin-top: 10%;
}
.header-title,
.header-text{
    max-width: 30%;
}
.btn-Find-Out-More{
    background-color: coral;
    color: #ffffff;
}
.header-content_flex{
    display: flex;
}
.header-image img{
    padding: 1px;
    margin-top: -30%;
    margin-left: 40%;
    max-width: 50%;
}
.header-content_flex{
    padding-bottom: 5%;
}
.main-content{
    text-align: center;
    background-color: #525252;
    color: #ffffff;
}
.main-title{
    padding-top: 40px;
}
.main-text{
    line-height: 0.5;
    margin-top: 30px;
    margin-bottom: -100px;
}
.list-inline img{
    max-width: 300px; 
}
.list-inline,
.list-inline-second{
    margin-top: 85px;
    text-align: center;
    padding-bottom: 50px;
}
.list-inline-second img{
max-width: 400px;
}
.list,
.list-second{
    margin-top: 50px;
}
.Card-title-second,
.Card-title{
    font-size: 100%;
}
.Card-text-second,
.Card-text{
    font-size: 80%;
    margin-left: 80px;
    max-width: 60%;
}
.main-content-second{
    text-align: center;
    color: #000000;
}
.footer-footer{
    height: 50px;
    text-align: center;
    margin-top: 5%;
}
.footer{
    color: #ffffff;
    background-color: #525252;
}
.footer-btn{
    color: #ffffff;
    background-color: coral;
    max-width: 500px;
    padding-left: 310px;
    padding-right: 360px;
}
.footer-input {
 width: 670px;
}
.footer-title{
    font-size: 110%;
}
.footer-text{
    font-size: 100%;
}
@media (min-width:1000px){
    .footer-btn{
        color: #ffffff;
        background-color: coral;
        max-width: 300px;
        padding-left: 150px;
        padding-right: 200px;
    }
    .footer-input {
        width: 350px;
       }
}
@media (max-width:760px){
    .footer-btn{
        color: #ffffff;
        background-color: coral;
        max-width: 300px;
        padding-left: 230px;
        padding-right: 270px;
    }
    .footer-input {
        width: 500px;
       }
}




