body {
  background: #242121; }

.header {
  background-image: url("../img/m-h-night.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  border-radius: 0 0 39%;
  background-repeat: no-repeat;
  color: #f1efef; }
  .header-wrap {
    margin-left: 10vw;
    padding-top: 15px; }
  .header_heading {
    display: block;
    width: 600px;
    font-size: 5rem;
    font-family: 'Source	Sans	Pro',	sans-serif; }
  .header_text {
    display: block;
    line-height: 25px;
    width: 600px;
    font-size: 17px;
    letter-spacing: 00.01rem; }
  .header_button {
    margin-top: 26px;
    font-size: 17px;
    width: 147px;
    height: 50px;
    font-family: 'Source	Sans	Pro',	sans-serif;
    background-color: #e6b413;
    border-color: #e6b413;
    color: white; }

.header_heading::after {
  position: absolute;
  content: "awesome";
  background: #f06e17;
  height: 80px;
  left: 200px; }

.landing-logo {
  display: flex;
  width: 50px;
  height: 50px; }
  .landing-logo p {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 5px; }
  .landing-logo span {
    display: block;
    text-align: center;
    font-size: 12px;
    width: 100px; }

.login {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  margin-left: 152px;
  letter-spacing: 0.01rem; }

.section {
  background-color: #242121;
  font-family: font-family("Fresca", sans-serif);
  text-align: center; }
  .section_text {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 0.015em;
    font-family: 'Source	Sans	Pro',	sans-serif;
    color: #f1efef; }
  .section_card {
    width: 1150px;
    padding: 20px;
    border-radius: 4px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #4a4f4a;
    color: #ffffff; }

.section_text::after {
  position: absolute;
  content: 'adventure';
  background: #f06e17;
  height: 40px;
  left: 965px; }

.section_card:not(:last-of-type) {
  margin-bottom: 25px; }

.section_card_img {
  border-radius: 4px;
  margin-right: 85px; }
  .section_card_img:first-of-type {
    max-height: 295px;
    max-width: 440px; }
  .section_card_img:nth-of-type(2) {
    padding-top: 70px; }
  .section_card_img:last-of-type {
    height: 350px; }

.section_link {
  color: #ffffff; }

p.section_card_heading {
  font-size: 22px;
  letter-spacing: 2px; }

.footer {
  background-color: #4a4f4a;
  margin-top: 200px;
  color: #fffffffb;
  height: 300px;
  padding: 125px 50px 0 100px; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    padding: 125px 116px 0 116px;
    align-items: center;
    margin-top: 60px; }

.section_banner {
  background: linear-gradient(90deg, #d8a038 0%, #80113f 100%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 920px;
  margin: auto;
  height: 142px;
  padding: 0 152px;
  position: absolute;
  transform: translateX(27%) translateY(100%); }
  .section_banner_button {
    margin-top: 26px;
    font-size: 17px;
    width: 147px;
    height: 50px;
    font-family: 'Source	Sans	Pro',	sans-serif;
    background-color: #e6b413;
    border-color: #e6b413;
    color: white;
    margin-left: auto; }
  .section_banner_heading {
    font-size: 30px; }

.section_banner_heading::after {
  position: absolute;
  content: "start";
  background: #f06e17;
  height: 40px;
  left: 266px; }

.section_banner_text {
  padding: 20px;
  color: #ffffff; }
